<style>
    .text-truncate {
        overflow-wrap: break-word !important;
    }
</style>
<h1 style="margin-top: 50px;" class="text-center">Minecraft Capes list</h1>
<hr class="mt-0">
<div class="row gx-2 justify-content-center">
    <div class="col-4 col-md-2">
        <div class="card mb-3">
            <div class="card-header text-truncate  py-1"><strong>Migrator</strong></div>
            <div class="card-body py-1">
                <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/3/3c/MSCape.png/revision/latest/scale-to-width-down/75?cb=20210701151702"
                style="image-rendering: pixelated;
                height: 63.99px;
                width: 40px;"
                 alt="PMC"/>
            </div>
        </div>
    </div>
    <div class="col-4 col-md-2">
        <div class="card mb-3">
            <div class="card-header text-truncate py-1"><strong>Preview</strong></div>
            <div class="card-body py-1">
                <strong>example</strong>
            </div>
        </div>
    </div>
    <div class="col-4 col-md-2">
        <div class="card mb-3">
            <div class="card-header text-truncate py-1"><strong>Preview</strong></div>
            <div class="card-body py-1">
                <strong>example</strong>
            </div>
        </div>
    </div>
    <div class="col-4 col-md-2">
        <div class="card mb-3">
            <div class="card-header text-truncate py-1"><strong>Preview</strong></div>
            <div class="card-body py-1">
                <strong>example</strong>
            </div>
        </div>
    </div>
</div>