<div class="row" style="justify-content: center; margin-top: 4rem;">
    <div class="col-md-4 withdarker">
        <p><i style="color: rgb(255, 217, 48);" class="fa-solid fa-triangle-exclamation"></i> <strong>ERROR</strong>: 
        <%= locals.reason %> <br>
            <div class="d-grid gap-2">
            <a role="button" onclick="window.location.reload()" class="btn btn-primary" style="margin-top: 10px; transition: 200ms ease;"><i class="fa-solid fa-arrow-rotate-right"></i> 
            Try again</a>
            </div>
        </p>
    </div>
</div>