<style>
  .glwing {
    box-shadow: #ffca38be 0px 6px 12px -2px, #ffca38be 0px 3px 7px -3px;
  }
  .grdin {
    background: #c39d00;
    background: linear-gradient(0deg,#c39d00 0%, #ffd000 80%);
    background: -webkit-linear-gradient(0deg,#c39d00 0%, #ffd000 80%);
    background: -moz-linear-gradient(0deg,#c39d00 0%, #ffd000 80%);
    transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transition: 200ms ease;
  }
  .grdin:hover {
    transform: translate(0px,-3px);
    -webkit-transform: translate(0px,-3px);
    -moz-transform: translate(0px,-3px);
  }
</style>
<!-- Footer -->
 <footer style="position:fixed;bottom: 0px; width: 100%;" class="mt-auto text-center text-white" style="background-color:#616161;">
  <!-- Grid container -->
  <div class="container ">
        <!-- <hr class="mt-0"> -->
        <div class="row justify-content-center">
          <div class="col-6 col-sm-4 col-lg py-3"><small>
            <a role="button" class="btn grdin glwing btn-warning"
             href="/donate" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
             <i class="fa-solid fa-hand-holding-dollar"></i> <strong>Donate Me!</strong>
          </a></small></div>
          <div class="col-6 col-sm-4 col-lg py-1"><small><i class="fa-regular fa-copyright"></i> PlayerMC Beta-Version 2024</small></div>
        </div>


  </div>


</footer>
