<header id="header" class="container pb-3">
  <nav class="navbar navbar-expand px-0 " data-bs-theme="dark">
    <a class="navbar-brand d-none d-md-block" href="/" title="Player Search">
      <!-- <img style="image-rendering: pixelated" class="align-top" width="30" height="30" src="https://s.namemc.com/img/favicon-30.png"> -->
      <span class="ms-2" translate="no"><strong>PlayerMC</strong></span>
    </a>
    <ul class="navbar-nav me-auto d-none d-md-flex">
      <li class="nav-item"><a class="nav-link" href="/search"><i class="fa-solid fa-house"></i> Search</a></li>
      <li class="nav-item"><a class="nav-link" href="/capes">Capes</a></li>
      <li class="nav-item"><a class="nav-link" href="/discord" target="_blank"><i class="fa-brands fa-discord"></i> Discord</a></li>
    </ul>
    <ul class="navbar-nav me-auto d-flex d-md-none">
      <li class="nav-item dropdown">
        <a class="navbar-brand dropdown-toggle ps-0 me-0" href="#" title="Player Search" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img style="image-rendering: pixelated" class="align-top" width="30" height="30" src="https://mc-heads.net/avatar/steve/50"><span class="d-none d-sm-inline ms-2" translate="no">NameMC</span></a>
        <div class="dropdown-menu">
          <a class="dropdown-item active" href="/"><i class="fa-solid fa-house menu-icon"></i> Home</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/search" title="minecraft player search"><i class="fas fa-user menu-icon"></i> Search</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/capes">Capes</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/discord" target="_blank"><i class="fab fa-discord menu-icon"></i> Discord</a>
        </div>
      </li>
    </ul>
   
  </nav>
  
  </header>
  
  